<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
</head>
<body>
  <div class="top-bar">
    <a href="/auth/logout" class="logout-button">Logout</a>
  </div>
  <h1>Calendar</h1>
  <a href="/events/create">Create Event</a>
  <form action="/" method="GET">
    <label for="month">Filter by Month:</label>
    <input type="month" id="month" name="month" value="<%= selectedMonth %>">
    <button type="submit">Filter</button>
  </form>
  <ul>
    <% events.forEach(event => { %>
      <li>
        <strong><%= event.title %></strong> - <%= moment(event.date).format('MMMM DD, YYYY HH:mm') %><br>
        Description: <%= event.description %><br>
        <a href="/events/edit/<%= event._id %>">Edit</a>
        <a href="/events/delete/<%= event._id %>" onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
      </li>
    <% }); %>
  </ul>
</body>
</html>